body  {
   font-family:Arial,verdana,sans-serif ;
   background-color:;
   
   
  
 }
h1{
    text-align: center;
}
h2{
  font-size:2em;
	margin:0;
	padding:0;
	padding-top:10px;
    color: aliceblue;

}

.search_bar{
    width: 20%;
    padding: 9px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14pt;
}

.search_button{
     background-color: #59007D;
    border: none;
    color: whitesmoke;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
 .navbar{
        float: right;
    }
.nav{
    background-color: white;
    height: 4.5em;
}
.img{
    background-image: url(Homepage%20Hero%20Image.jpg);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    min-height: 30em;
}
.ulnav{
    list-style: none;
    padding-right: 0.5em;
    max-width: 55em;
    font-size: 10pt;
    font-family: 'segoe ui', sans-serif;
}
.linav{
    display: inline;
    
}
.linav_signup{
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background-color: #59007D;
}
.linav_a{
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #59007D;
    text-decoration: none;
}
.logo{
    width: 214px;
    float: left;
}

.categories1{
    display: flex;
    flex-wrap: wrap;
}
.categories1 img{
margin-left:120px;
    margin-right: 19px;
    padding-top: 13px;
    height:70px
}

#btn{
color: white;
width: 170px;
margin-top: 12px;
margin-left:42%; 
height: 2.5em;
background-color: #59007d; 
margin-top: 2em;
}

h2{
 margin-left: 0px;
text-align:center; 
font-weight: bold;
font-size: 34px;
}
.categories1{
    display: flex;
    flex-wrap: wrap;
}
.categories1 img{
margin-left:120px;
    margin-right: 19px;
    padding-top: 13px;
}
.section4{
margin-left: 16px; 
margin-right: 16px; 
 
  }
 
.section4 h3{
text-align:center; 
font-weight: lighter;
}
.section4 img{
padding-top:2em; 
margin-left: 25em; 
  
}
footer{background-color: black;
color:white;
margin-top:-21px; 
height: 12em;	
}
ol li a {
display: inline;
text-decoration: none;
padding-right: 2em;
color: white; 
 
} 

ol li {list-style-type: none;
float: left;
padding-right:14px; 
padding-top: 12px;
}
center{padding-top: 3em;}
.social{
padding-left: 17em;
}
.social img{ 
padding-right:5em;
padding-top: 2em;
}

#comment{  
  border-radius: 200px;
  width: 10%;
  /*height: 100%;*/
  margin-left:30px 
  }